<div class="container">
	<form action="">
		<div class="col-md-12">
			<div class="col-md-4">
				<div class="form-group">
				  	<label class="control-label" for="username">Username</label>
				  	<input type="text" class="form-control" id="username">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
				  	<label class="control-label" for="password">Password</label>
				  	<input type="text" class="form-control" id="password">
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-2">
				<a href="#" class="btn btn-default">SignIn</a>
			</div>
			<div class="col-md-2">
				<a href="#" class="btn btn-danger">Reset</a>
			</div>
		</div>
	</form>
</div>